{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'styles/base/base.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/elements.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'scripts/base.js' %}"></script>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CAI clone</title>
    y {% endblock %}
  </head>
  <body>
    <div id="container">
      <!-- Added container div -->
      <div id="left-panel">
        <div id="left-panel-top">
          <div id="left-panel-top-hide">
            <a href="{% url 'home' %}">
              <p id="top-panel-title">thing.ai</p>
            </a>
            <button id="hide-panel-button" onclick="hidePanel()"><<</button>
          </div>
          <div id="left-panel-top-options">
            <a href="{% url 'create_page' %}">
              <button class="button-4" onclick="createCharacter()">
                Create
              </button>
            </a>
          </div>
        </div>

        <div id="left-panel-middle">
          <h1>characters</h1>
          <h4>chats with options</h4>
          <h4>everything will be stored in database</h4>
        </div>

        <div id="left-panel-bottom">
          <div id="account">
            <a href="{% url 'login' %}">
              <button id="left-panel-login-button" class="button-4">Login</button>
            </a>
            <img id="left-panel-profile-picture" src="{%static 'media/profilepic.png'%}" alt="">
          </div>
        </div>
      </div>
      <button id="show-panel-button" onclick="showPanel()">>></button>
      <div id="main-content">{% block main %} {% endblock %}</div>
    </div>
  </body>
</html>
