{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CAI clone</title>
    {% endblock %}
</head>
<body>
    <div id="container"> <!-- Added container div -->
        <div id="left-panel">
            <div id="left-panel-top">
                <h1>navigation</h1>
                <h4>hide sidepanel</h4>
                <h4>create character</h4>
                <h4>go to homepage</h4>
            </div>

            <div id="left-panel-middle">
                <h1>characters</h1>
                <h4>chats with options</h4>
                <h4>everything will be stored in database</h4>
            </div>

            <div id="left-panel-bottom">
                <h1>account options</h1>
            </div>
        </div>
        <div id="main-content">
            {% block main %}

            {% endblock %}
        </div>
    </div>
</body>
</html>
