{% extends 'base.html' %} {% load static %} {% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Chat</title>
<link rel="stylesheet" href="{% static 'styles/chat/chat.css' %}" />
<link rel="stylesheet" href="{% static 'styles/elements.css' %}" />
<script src="{%static 'scripts/chat.js'%}"></script>
{% endblock %} {% block main %}
<header id="chat-header">
  <h1 id="character-name"></h1>
</header>
<div id="chat-box"></div>
<div id="loading_animation" class="loading">Loading&#8230;</div>
<div id="input-area">
  <input type="text" id="input-box" placeholder="Type your message..." />
  <button class="send-btn" onclick="sendUserInput()">Send</button>
</div>
</main>
{% endblock %}
