{% extends 'base.html' %} {% load static %} {% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Home</title>
<link rel="stylesheet" href="{% static 'styles/chat/chat.css' %}" />
<link rel="stylesheet" href="{% static 'styles/elements.css' %}" />
{% endblock %} {% block main %}
<div id="top-options">
  <h1>{{character_name}}</h1>
  <button id="show-panel" onclick="showPanel()"><</button>
</div>
<div id="">
  <h1>uploaded characters</h1>
</div>
{% endblock %}
