{% extends 'base.html' %} {% load static %} {% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Create</title>
<link rel="stylesheet" href="{% static 'styles/create/create.css' %}" />
<script src="{% static 'scripts/create.js' %}"></script>
{% endblock %} {% block main %}
<div id="top-section">
  <h1>Create a character</h1>
</div>

<div id="middle-section">
  <label class="common-text" for="character-name">name: </label>
  <input
    type="text"
    id="character-name"
    required
  /><br /><br />
  <label class="common-text" for="character-description">description: </label>
  <input
    type="text"
    id="character-description"
    required
  /><br /><br />
  <button class = "button-4" onclick="createCharacter()">Create</button>
</div>
{% endblock %}
