{% extends 'base.html' %} {% load static %} {% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Create Character</title>
<link rel="stylesheet" href="{% static 'styles/create/create.css' %}" />
<link rel="stylesheet" href="{% static 'styles/elements.css' %}" />
{% endblock %} {% block main %}
<div id="top-options">
  <h1>greeting</h1>
  <h1>search characters</h1>
  <button id="show-panel" onclick="showPanel()"><</button>
</div>
<div id="">
  <h1>uploaded characters</h1>
</div>
{% endblock %}
