{% extends 'base.html' %} {% load static %} {% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Home</title>
<link rel="stylesheet" href="{% static 'styles/home/home.css' %}" />

<script src="{%static 'scripts/home.js'%}"></script>
{% endblock %} {% block main %}
<div id="top-options">
  <h1>greeting</h1>
  <h1>search characters</h1>
</div>
<div id="ai-characters">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Project 2</h5>
      <p class="card-text">
        Welcome to Chatify 🚀 Chatify is an online chatting application designed
        for Windows users, providing a seamless and intuitive platform for
        real-time communication. With Chatify, users can connect with friends,
        colleagues, or family members effortlessly, no matter where they are.
      </p>
      <a
        href="https://github.com/Uglypr1nces/Chatify"
        class="btn btn-primary"
        target="_blank"
        >GitHub Repository</a
      >
    </div>
  </div>
</div>
{% endblock %}
