{% extends 'base.html' %} {% load static %} {% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Home</title>
<link rel="stylesheet" href="{% static 'styles/home/home.css' %}" />
<script src="{%static 'scripts/home.js'%}"></script>
<script src="{%static 'scripts/general.js'%}"></script>


{% endblock %} {% block main %}
<div id="top-options">
  <h1 id="greeting-title">Welcome, User</h1>
  <input id="user-search" type="text">
</div>
<div id="ai-characters">
  {% for c in characters %}
  <div class="card mb-3">
    <div class="card-body">
      <p class="card-id">{{c.0}}</p>
      <h5 class="card-title">{{ c.1 }}</h5>
      <p class="card-text">{{ c.2 }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
